<% include ../partials/header %>
<div class="ui segment">
    <h1 class="ui center aligned header">Login/Signup using the options below.</h1>
    <div class="ui three buttons">
        <a href="/users/login" class="ui basic button">
            <i class="icon user"></i>
            Login
        </a>
          <a href="/users/signup" class="ui basic button">
            <i class="icon plus"></i>
            Signup
          </a>
          <a href="/users/auth/google" class="ui google plus button">
            <i class="google plus icon"></i>
            Google
          </a>
    </div>
</div>
<% include ../partials/footer %>
