<!DOCTYPE html>
<html>

<head>
  <title>Recipes Galore</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Recipes Galore</h1>
  <p>There Shall be a list!</p>
  <% recipes.forEach(function(recipe){ %>
    <p>
      <h1>
        <%= recipe.name %>
      </h1>
        <img src="<%= recipe.image %>" alt="">
      <h4>
        <%= recipe.description %>
      </h4>
      <a href="/recipes/<%= recipe._id %>"><button>View</button></a>
    </p>
    <%})%>
</body>

</html>